@model PatientManagementSystem.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Appointment</h1>

@if (Model == null)
{
    <div class="alert alert-danger">
        <p>Los detalles de la cita no estan disponible, regresa al listado.</p>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
}
else
{
    <h3>Esta seguro que quiere eliminar esta cita?</h3>
    <div>
        <h4>Detalles de la cita</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nombre Paciente
            </dt>
            <dd class="col-sm-10">
                @Model.Patient?.Name
            </dd>
            <dt class="col-sm-2">
                Fecha y Hora
            </dt>
            <dd class="col-sm-10">
                @Model.AppointmentDateTime.ToString("f")
            </dd>
            <dt class="col-sm-2">
                Notas
            </dt>
            <dd class="col-sm-10">
                @Model.Notes
            </dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
}
